<h1>this is the dashboard page</h1>
<ul>
    <li><a href="./homepage">Home</a></li>
    <li><a href="./dashboard">Dashboard</a></li>
    {{!-- <li><a href="./onboarding">Logout</a></li> --}}
    <button class="no-button" id="logout">logout</button>
</ul>