<div class="global-container">
    <div class="card login-form">
        <div class="card-body text-center">
            <h3 class="card-title text-center pt-2">Welcome to myBlog!</h3>
            <div class="pt-2">
                <small class="text-muted pt-5">Introducing MyBlog, the ultimate immersive platform where everyday people can share their unique experiences and connect with others. Our user-friendly interface ensures effortless navigation, setting us apart from other blog sites and providing an all-inclusive experience. To embark on your blogging journey, simply choose one of the buttons below and get started today!</small>
            </div>
                <div class="card-text">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-auto">
                            {{!-- <a type="submit" class="btn btn-primary btn-block" href="./login">Sign in</a>
                            </div>
                            <div class="col-auto">
                            <a type="submit" class="btn btn-primary btn-block" href="./signup">Sign up</a> --}}
                            <a type="submit" class="btn btn-primary btn-block" href="./homepage">Click Here!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
