<h1>Featured Blogs</h1>

    <h2>Sign in or sign up to join!</h2>
    <ul>
        <a class="links" href="./login"><li>Login</li></a>
        <a class="links" href="./signup"><li>Sign up</li></a>
    </ul>
