<div class="global-container">
	<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Sign up to myBlog</h3>
		<div class="card-text">
			<form id="signup-form">
				<div class="form-group">
					<label for="name">Name</label>
					<input id="name-signup" type="name" class="form-control form-control-sm">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" class="form-control form-control-sm" id="email-signup" aria-describedby="emailHelp">
				</div>
        <div class="form-group">
					<label for="password">Password</label>
					<input type="password" class="form-control form-control-sm" id="password-signup" aria-describedby="passwordHelp">
				</div>
				<button type="submit" class="btn btn-primary btn-block">Sign in</button>
				
				<div class="sign-up">
					Already have an account? <a href="/login">Login here!</a>
				</div>
			</form>
		</div>
	</div>
</div>
</div>

<script src="./js/signup.js"></script>